# Ignore everything
*
# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.py
!*.md
!*.txt
!*.sh
!*.service
!*.yml
!.gitignore

# Whitelist the following files
!Makefile
!Dockerfile.app
!stay