h1 {
    text-align: center;
    margin-top: 2rem;
}

main {
    max-width: 90%;
    margin: 2rem auto 0 auto;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

input[type='text'][name='nickname'] {
    width: unset;
    display: unset;
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    main {
        max-width: max-content;
    }
    #dextable, #mymon {
        width: 70vw;
    }
    input[type='text'][name='nickname'] {
        margin-bottom: 0;
    }
}

#dextable, #mymon {
    white-space: nowrap;
}

trade, auth, auth-form {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

auth-form, auth-form button {
    grid-column: 1/-1;
}

auth-form label {
    text-align: right;
}

auth-form label:after {
    content: ":";
}

auth-form .message {
    grid-column: 1/-1;
}

.hide-register {
    display: none;
}

header {
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

#search{
    margin-bottom: 1em;
}
header img {
    width: 300px;
}

custom-input {
    display: flex;
    flex-direction: row;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

custom-input > input {
    flex-grow: 2;
    border: none !important;
}

custom-input > input:focus {
    outline: rgba(0,123,255,.25) auto 5px !important;
    outline-offset: -2px !important;
    box-shadow: none !important;
}

custom-input > button {
    border: none;
    color: white !important;
    border-radius: 0 .25rem .25rem 0 !important;
    width: 3rem;
    margin: -1px -1px -1px 0;
    display: none;
}

.validation-good {
    display: block;
}

.validation-good::after {
    content: '✓';
}

.validation-bad {
    display: block;
}

.validation-bad::after {
    content: '✕';
}

figure{
    display: inline-block;
}

main.text-center ul {
    list-style-position: inside;
}

.inline-forms form {
    display: inline-block;
}

.icon-spacer {
    margin-right: 0.5rem;
}

footer {
    flex-shrink: 0;
    margin-top: 2rem;
    padding: 2rem 0;
    color: white;
}

trade button {
    grid-column: 1/-1;
}

trade img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    object-position: center;
    padding: 0.5rem;
}

#tradeimg1 {
    background-color: #f599b8;
}

#tradeimg2 {
    background-color: #7adae6;
}

#pokemon1, #pokemon2 {
    white-space: pre-line;
}