<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"><meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Welcome to Pokémon Stay!">
        <title>Pokémon Stay</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        {% include 'header.html' %}
        <main>
            <auth>
                <button id="toggle-signin">Sign in</button>
                <button id="toggle-register">Register</button>
                <auth-form>
                    <label for="in-email">Email</label>
                    <input id="in-email" type="email" placeholder="foo@example.com">
                    <label for="in-uname" class="togglable-display hide-register">Username</label>
                    <input id="in-uname" class="togglable-display hide-register" type="text">
                    <label for="in-pass">Password</label>
                    <input id="in-pass" type="password">
                    <label for="in-verify" class="togglable-display hide-register">Verify Password</label>
                    <input id="in-verify" class="togglable-display hide-register" type="password">
                    <button id="btn-submit">Submit</button>
                    <span class="message"></span>
                </auth-form>
            </auth>
        </main>
        <script type="text/javascript" src="/static/auth.js"></script>
    </body>
</html>