<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Catch a Pokemon!">
        <title>Pokémon Stay | Catch a Pokémon!</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'nav.html' %}
        {% if msg %}
        <p><font color="red">{{ msg }}</font></p>
        {% endif %}
        <p>
            Time until next catch: {{wait_time}}
        </p>
        {% if mon_name %}
        <p>
            You encountered {{mon_name}}!
        </p>
        <form method="post">
            <button>Catch</button>
            <input type="hidden" name="catch" value="True">
        </form>
        <form method="post">
            <button>Run</button>
        </form>
        {% endif %}
    </body>
</html>