<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"><meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Create an Account for Pokémon Stay!">
        <title>Pokémon Stay</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        Welcome to Pokémon Stay!
        Please create an account.
        <label for="in-email"></label>
        <input id="in-email" type="email" placeholder="foo@example.com">
        <label for="in-pass"></label>
        <input id="in-pass" type="password">
        <button id="btn-create-account">Submit</button>
        <script type="text/javascript" src="/static/account.js"></script>
    </body>
</html>