<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="Description" content="Pokedex">
    <title>Pokedex</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
  </head>
  <body>
      <div class="content">
          {% include 'nav.html' %}
          <h1>Pokedex</h1>
          <main>
            <input type="text" id="search" class="form-control" onkeyup="filter()" placeholder="Search">
            <div class="table-responsive">
              <table id="dextable" class="table table-striped table-bordered table-sm"">
                <thead class="thead-light">
                  <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Type</th>
                  </tr>
                </thead>
                {% for item in info %}
                <tr>
                    <td>{{item.pokemonNo }}</td>
                    {% if item.pokemonNo < 10 %}
                    <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/00{{ item.pokemonNo }}.png" alt="{{item.speciesName}}"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                    {% elif item.pokemonNo < 100 %}
                    <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/0{{ item.pokemonNo }}.png"alt="{{item.speciesName}}"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                    {% else %}
                    <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/{{ item.pokemonNo }}.png"alt="{{item.speciesName}}"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                    {% endif %}
                    <td><img class="icon-spacer" src="https://www.serebii.net/pokedex-bw/type/{{item.typeName }}.gif" alt="{{item.typeName}}" width="50" height="20"/><img src="https://www.serebii.net/pokedex-bw/type/{{item.typeName2}}.gif" alt="{{item.typeName2}}" width="50" height="20"><p hidden>{{item.typeName}} {{item.typeName2}}</p></td>
                </tr>
                {% endfor %}
              </table>
            </div>
        </main>
      </div>
      {% include 'footer.html' %}

      <script>
        function filter(){
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("search");
          filter = input.value.toUpperCase();
          table = document.getElementById("dextable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            if (td) {
              txtValue = td.textContent || td.innerText;
              txtValue1 = td1.textContent || td1.innerText;
              txtValue2 = td2.textContent || td2.innerText;
              if (txtValue.toUpperCase().includes(filter)||txtValue1.toUpperCase().includes(filter)||txtValue2.toUpperCase().includes(filter)||txtValue2.toUpperCase().includes(filter.split(" ").reverse().join(" "))){
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      </script>
  </body>
</html>
