<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Box">
        <title>Box</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            {% include 'nav.html' %}
            <h1>Box</h1>
            <main>
                <p><center><button class="btn btn-primary"><a href="/myMon/download" style="color: white;">Download Box Data</a></button></center></p>
                <input type="text" class="form-control" id="search" onkeyup="filter()" placeholder="Search">
                {% if msg %}
                <p><font color="red">{{ msg }}</font></p>
                {% endif %}
                {% if size == 0 %}
                <p>Sorry, you don't have any mon</p>
                {% endif %}
                {% if size != 0 %}
                <div class="table-responsive">
                    <table id="mymon" class="table">
                        <thead class="thead-light">
                            <tr>
                              <th>Name</th>
                              <th>Nickname</th>
                              <th>Level</th>
                              <th>Gender</th>
                              <th>Shiny</th>
                              <th>Met</th>
                              <th>Rename?</th>
                              <th>Release?</th>
                              <th>Train?</th>
                            </tr>
                        </thead>
                        {% for item in info %}
                        <tr>
                            {% if item.pokemonNo < 10 %}
                            <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/00{{ item.pokemonNo }}.png"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                            {% elif item.pokemonNo < 100 %}
                            <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/0{{ item.pokemonNo }}.png"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                            {% else %}
                            <td><img class="icon-spacer" src="http://www.serebii.net/pokedex-sm/icon/{{ item.pokemonNo }}.png"/><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
                            {% endif %}
                            <td>{% if item.nickname %}
                                {{ item.nickname }}
                            {% endif %}</td>
                            <td>{{ item.level }}</td>
                            <td>{% if item.gender == 0 %}
                                genderless
                                {% endif %}
                                {% if item.gender == 1 %}
                                female
                                {% endif %}
                                {% if item.gender == 2 %}
                                male
                                {% endif %}
                            </td>
                            <td> {% if item.shiny == 0 %}
                                not shiny
                                {% endif %}
                                {% if item.shiny == 1 %}
                                shiny
                                {% endif %}</td>
                            <td>{{ item.met }}</td>
                            <td><a href="/rename/{{ item.ownsId }}">Rename Mon</a></td>
                            <td><button class="btn btn-danger"><a href="/release/{{ item.ownsId }}" style="color: white;">Release Mon</a></button></td>
                            <td><a href="/train/{{ item.ownsId }}">Train Mon</a></td>
                        </tr>
                    
                        {% endfor %}
                    </table>
                </div>
            </main>
            {% endif %}
        </div>
        {% include 'footer.html' %}
        <script>
            function filter(){
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("search");
              filter = input.value.toUpperCase();
              table = document.getElementById("mymon");
              tr = table.getElementsByTagName("tr");
      
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  txtValue1 = td1.textContent || td1.innerText;
                  txtValue2 = td2.textContent || td2.innerText;
                  txtValue3 = td3.textContent || td3.innerText;
                  if (txtValue.toUpperCase().includes(filter)||txtValue1.toUpperCase().includes(filter)||txtValue2.toUpperCase().includes(filter)||txtValue3.toUpperCase().includes(filter)){
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
        </script>
    </body>
</html>
