<!DOCTYPE html>
<html lang="en">
<head>
<title>My Mon</title>
<link href="/static/main.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <h1>My Mon</h1>
    {% if msg %}
    <p><font color="red">{{ msg }}</font></p>
    {% endif %}
    {% if size == 0 %}
    <p>Sorry, you don't have any mon</p>
    {% endif %}
    {% if size != 0 %}
    <table>
        <tr>
          <th>Mon</th>
          <th>Nickname</th>
          <th>Level</th>
          <th>Gender</th>
          <th>Shiny</th>
          <th>Met</th>
          <th>Rename?</th>
          <th>Release?</th>
        </tr>
        {% for item in info %}
        <tr>
            <td><a href="/dex/{{ item.pokemonNo }}">{{ item.speciesName }}</a></td>
            <td>{% if item.nickname %}
                {{ item.nickname }}
            {% endif %}</td>
            <td>{{ item.level }}</td>
            <td>{% if item.gender == 0 %}
                genderless
                {% endif %}
                {% if item.gender == 1 %}
                female
                {% endif %}
                {% if item.gender == 2 %}
                male
                {% endif %}
            </td>
            <td> {% if item.shiny == 0 %}
                not shiny
                {% endif %}
                {% if item.shiny == 1 %}
                shiny
                {% endif %}</td>
            <td>{{ item.met }}</td>
            <td><a href="/rename/{{ item.ownsId }}">Rename Mon</a></td>
            <td><a href="/release/{{ item.ownsId }}">Release Mon</a></td>
        </tr>
        {% endfor %}
    {% endif %}

</body>
</html>
