<!DOCTYPE html>
<html lang="en">
<head>
<title>Rename</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/static/main.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <h1>Rename mon {{ id }}</h1>
    <form action="/rename/submit/{{ id }}" method="POST">
        New Nickname: <input type="text" name="nickname" maxlength="20"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>
