<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Trade">
        <title>Trade</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            {% include 'nav.html' %}
            <h1>Trade</h1>
            <main>
                <trade>
                    <button class="btn btn-primary" id="btn-join">Join</button>
                    <button class="btn btn-primary btn-danger" id="btn-leave">Leave</button>
                    <div id="user1">Waiting for User 1...</div>
                    <div id="user2">Waiting for User 2...</div>
                    <div id="pokemon1">No offer</div>
                    <div id="pokemon2">No offer</div>
                    <img id="tradeimg1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8KZf8HwAFzQJrLX7vMQAAAABJRU5ErkJggg==">
                    <img id="tradeimg2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk2HPlPwAE5QKRuXBlewAAAABJRU5ErkJggg==">
                    <label for="select-box">Choose a Pokémon:</label>
                    <select id="select-box" disabled></select>
                    <button class="btn btn-primary" id="btn-confirm">Confirm</button>
                    <button class="btn btn-primary" id="btn-cancel">Cancel</button>
                    <div id="confirm1">Not confirmed</div>
                    <div id="confirm2">Not confirmed</div>
                </trade>
            </main>
        </div>
        {% include 'footer.html' %}
        <script type="text/javascript" src="/static/trade.js"></script>
    </body>
</html>