<!DOCTYPE html>
<html lang="en">
<head>
<title>Trade</title>
<link href="/static/main.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    {% include 'nav.html' %}
    <h1>Trade</h1>
    <button id="btn-join">Join</button>
    <button id="btn-leave">Leave</button>
    <div id="user1">User ID 1:</div>
    <div id="user2">User ID 2:</div>
    <div id="pokemon1">Pokémon ID 1:</div>
    <div id="pokemon2">Pokémon ID 2:</div>
    <label for="select-box">Choose a Pokémon:</label>
    <select id="select-box" disabled></select>
    <button id="btn-confirm">Confirm</button>
    <button id="btn-cancel">Cancel</button>
    <div id="confirm1">Confirm 1:</div>
    <div id="confirm2">Confirm 2:</div>
    <script type="text/javascript" src="/static/trade.js"></script>
</body>
</html>