<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="Description" content="Train your Pokemon">
        <title>Pokémon Stay | Train your Pokémon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        {% include 'header.html' %}
        {% include 'nav.html' %}
        <h1>Train your Pokémon</h1>
        <center>
        
        <p id="message" style="color: red;">{% if msg %}{{ msg }}{% endif %}</p>
        
        {% if info %}
        {% if info[0].pokemonNo < 10 %}
        {% if info[0].shiny == 0 %}
            <img src="https://www.serebii.net/sunmoon/pokemon/00{{info[0].pokemonNo}}.png" width=200 height=200>
        {% else %}
            <img src="https://www.serebii.net/Shiny/SM/00{{info[0].pokemonNo}}.png" width=200 height=200>
        {% endif %}
        {% elif info[0].pokemonNo < 100 %}
        {% if info[0].shiny == 0 %}
            <img src="https://www.serebii.net/sunmoon/pokemon/0{{info[0].pokemonNo}}.png" width=200 height=200>
        {% else %}
            <img src="https://www.serebii.net/Shiny/SM/0{{info[0].pokemonNo}}.png" width=200 height=200>
        {% endif %}
        {% else %}
        {% if info[0].shiny == 0 %}     
                <img src="https://www.serebii.net/sunmoon/pokemon/{{info[0].pokemonNo}}.png" width=200 height=200>
        {% else %}
                <img src="https://www.serebii.net/Shiny/SM/{{info[0].pokemonNo}}.png" width=200 height=200>
            {% endif %}
        {% endif %}
        <div class="progress w-50">
            <div id="progressbar" class="progress-bar progress-bar-striped " role="progressbar"></div>
            <div id="progressbar-remaining" class="progress-bar progress-bar-striped " style="background-color: lightgray;" role="progressbar"></div>
        </div>
        <p id="training-text">
            {% if info[0].nickname %}
            You're training {{ info[0].nickname }} the {{ info[0].speciesName }}.
            {% else %}
            You're training your {{ info[0].speciesName }}.
            {% endif %} 
            {% if info[0].gender == 0 %} They are {% endif %}
            {% if info[0].gender == 1 %} She is {% endif %}
            {% if info[0].gender == 2 %} He is {% endif %}
            {% if info[0].level == 100 %}
            currently level {{ info[0].level }}.
            {% else %}
            currently level {{ info[0].level }} and needs {{ info[0].expNeeded }} experience points to level up.   
            {% endif %}  
                   
        </p>
        <input name="owns_id" id="ownid" type="hidden" value="{{info[0].id}}"/>
        {% endif %}
        
        <p id="clicknumber">You have clicked 0 times</p>
        
        <div class="btn-inline">
        <button class="btn btn-primary" id="train-Train">Train</button> &nbsp; &nbsp;
    
        <input id="clicks" name="clicks" type="hidden" value="0"/>
        <button class="btn btn-primary"id="train-Submit">Submit</button>
        
        </div>
        </center>
    </body>

    <script type="text/javascript">
        let trainpara = document.querySelector("#training-text")
        let message = document.querySelector("#message")
        let progressbar = document.querySelector("#progressbar")
        let progressbar_remaining = document.querySelector("#progressbar-remaining")
        let curexp = {{(info[0].exp/(info[0].exp + info[0].expNeeded))*100}}
        progressUpdate(curexp)
        let counter = 0
        document.querySelector("#train-Train").addEventListener('click', e => {
            counter = counter + 1
            document.getElementById("clicknumber").textContent = "You have clicked " + counter + " times"
            document.getElementById("clicks").value = counter
        }) 
        document.querySelector("#train-Submit").addEventListener('click', e => submit(e) ) 
        setInterval(submit, 120000)

        function submit(e){
            if(counter == 0){
                return        
            }
            let req = new XMLHttpRequest()
            req.responseType = 'json'
            req.addEventListener('load', ev => {
            console.log(ev.target.response)
            console.log(ev.target.status)
            if (ev.target.status == 200){
                trainpara.textContent = stringHelper(ev.target.response.info[0])
                message.textContent = ev.target.response.msg
                curexp = (ev.target.response.info[0].exp/(ev.target.response.info[0].exp + ev.target.response.info[0].expNeeded))*100
                progressUpdate(curexp)
            }
            })
            let url = new URL(document.URL)
            req.open('POST', '/train/submit/{{info[0].id}}')
            req.setRequestHeader("Content-Type", "application/json;charset=UTF-8")
            req.send(JSON.stringify({clicks: counter}))
            counter = 0
            document.getElementById("clicknumber").textContent = "You have clicked " + counter + " times"
            document.getElementById("clicks").value = counter
        }

        function progressUpdate(curexp){
            progressbar.style.width = `${curexp}%`
            progressbar_remaining.style.width = `${100-curexp}%`
        }
        

        function stringHelper(data){
            let s = ""
            if (data.nickname){
                s += `You're training ${data.nickname} the ${data.speciesName}. `
            }
            else{
                s += `You're training your ${data.speciesName}. ` 
            }
            switch (data.gender) {
                case 0: s += "They are"; break;
                case 1: s += "She is"; break;
                case 2: s += "He is"; break;
            }
            if(data.level ==100){
                s += ` currently level ${data.level}.` 
            }
            else{
                s += ` currently level ${data.level} and needs ${data.expNeeded} experience points to level up.`
            }
            return s
        }
    </script>
</html>

